= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f|
  = f.input :institute_id, :input_html => {:class => 'select2-ajax span3', 'data-autocomplete-url' => search_institutes_path, "data-show-url" => institute_path(resource.institute_id)}
  = f.association :trainercycle, :input_html => {:class => 'chzn-select span3'}
  - matters = resource.trainercycle.try(:matters) || []
  = f.association :matter, :collection => matters, :input_html => {:class => 'chzn-select span3'}
  = f.association :group, :input_html => {:class => 'chzn-select span3'}
  = f.input :created_at do
    = l(resource.created_at, :format => :medium) if resource.created_at
  = f.button :submit, :class => 'btn-primary'
  = link_to t(:cancel), collection_path, :class => 'btn'
