= simple_form_for [@teacher,@profile] do |f|
  #qualifyingentity_tlresults
    %h3= t(:qualifyingentity_tlresults) 
    = f.simple_fields_for :qualifyingentity_tlresults do |qc|
      = render 'qualifyingentity_tlresult_fields', :f => qc
    .links
      = link_to_add_association 'add percentage', f, :qualifyingentity_tlresults
  = f.submit
