= simple_form_for [@teacher,@profile] do |f|
  #qualifyingentity_criterions
    %h3= t(:qualifyingentity_criterions) 
    = f.simple_fields_for :qualifyingentity_criterions do |qc|
      = render 'qualifyingentity_criterion_fields', :f => qc
    .links
      = link_to_add_association 'add percentage', f, :qualifyingentity_criterions
  = f.submit
