.page-header
  %h1= Score.model_name.human
%table.table.table-striped#qualifyingentity_tlresults_table
  %thead.qualifyingentities
    %th.name= link_to t(:new), new_qualifyingentity_path, :remote => true
    %th.aux
    - qe_ant_id = nil
    - resource.qualifyingentity_tlresults.each do |qualifyingentity_tlresult|
      - next if qe_ant_id && qualifyingentity_tlresult.qualifyingentity_id == qe_ant_id
      - count = resource.qualifyingentity_tlresults.where(:qualifyingentity_id => qualifyingentity_tlresult.qualifyingentity_id).count
      - qe_ant_id = qualifyingentity_tlresult.qualifyingentity_id
      %th{:colspan => count}
        = qualifyingentity_tlresult.qualifyingentity.name
        = link_to t(:edit), edit_qualifyingentity_path(qualifyingentity_tlresult.qualifyingentity), :class => 'dialog', :remote => true
  %thead.qualifyingentity_tlresults
    %th.name= Student.human_attribute_name(:name)
    %th.aux.span2
      = link_to t(:points), '#', :class => 'button'
      = link_to t(:absences), '#', :class => 'button'
      = link_to t(:incidents), '#', :class => 'button'
      = link_to t(:observations), '#', :class => 'button'
    - resource.qualifyingentity_tlresults.uniq.each do |qualifyingentity_tlresult|
      %th
        - name = qualifyingentity_tlresult.tlresult.name
        = link_to  '#', :class => 'pop-over', "data-toogle" => "tooltip" , "data-content" => name, "title" => "Detalle" do
          = truncate(name, :length => 20)
  %tbody
    - @students.each do |student|
      %tr{:id => "student_#{student.id}"}
        = show_for student do |student_show|
          %td.name= student_show.attribute :name, :label => false
        %td{:id => "aux_#{student.id}"}
          = render :partial => 'profiles/student_points', :locals => {:profile => resource, :student => student}
        - @profile.qualifyingentities.each do |qe|
          - qe.qualifyingentity_tlresults.each do |qe_tlr|
            - @score = qe_tlr.scores.find_by_student_id(student.id)
            %td{:id => @score.id}
              -# = score_form.input :grade, :input_html => {:class => 'span4'}, :label => false
              -# Best in place
              -# = best_in_place @score, :grade
              -# = best_in_place @score, :observations
              -# = best_in_place @score, :url
              = render 'scores/in_place_edit'

