.page-header
  %h1= t(:scores)
  = "#{resource.trainercycle.try(:title)} - #{resource.matter.try(:name)} - #{resource.group.try(:name)}"

%div.scores
  .actions
    = link_to ClassroomDiary.model_name.human, profile_classroom_diaries_path(resource), :class => 'btn btn-default', :remote => true
    = link_to t(:new_qualifyingentity), new_profile_qualifyingentity_path(resource), :class => 'dialog btn btn-default', :remote => true
    - @quarters.each do |quarter|
      = link_to quarter.name, edit_scores_profile_path(resource, :quarter_id => quarter.id), :class => "btn #{quarter.id == @quarter.try(:id) ? 'btn-success' : 'btn-primary'}"
    = @quarter.boundaries if @quarter
  %table#qualifyingentity_tlresults_table
    %thead
      %tr.qualifyingentity_tlresults
        %th.name
          = Student.human_attribute_name(:name)
        %th.aux
          = link_to t(:points), '#', :class => 'ui-icon icon-bookmark button', :alt => t(:points), :title => t(:points)
          = link_to t(:absences), '#', :class => 'ui-icon icon-exclamation-sign button', :alt => t(:absences), :title => t(:absences)
          = link_to t(:incidents), '#', :class => 'ui-icon icon-warning-sign button', :alt => t(:incidents), :title => t(:incidents)
          = link_to t(:observations), '#', :class => 'ui-icon icon-info-sign button', :alt => t(:observations), :title => t(:observations)
        - even_odd = cycle('even', 'odd', :name => 'qe_cycle')
        - @qualifyingentities.each do |qe|
          - qe_change = true
          - sort_by(qe.qualifyingentity_tlresults, :tlresult_number).each do |qe_tlr|
            - tlr = qe_tlr.tlresult
            %th.tlresult{:class => "qualifyingentity #{even_odd} #{'qe_actions' if qe_change}"}
              - if qe_change
                .qualifyingentity
                  = link_to t(:edit), edit_profile_qualifyingentity_path(resource, qe_tlr.qualifyingentity), :class => 'ui-icon ui-icon-pencil dialog', :remote => true
                  = link_to '#', :class => 'pop-over', "data-toogle" => "tooltip" , "data-content" => qe_title(qe_tlr.qualifyingentity), "title" => Qualifyingentity.model_name.human do
                    %i.icon-info-sign
              = link_to '#', :class => 'pop-over', "data-toogle" => "tooltip" , "data-content" => tlr.name, "title" => "Detalle" do
                = tlr.number
            - qe_change = false
          - even_odd = cycle('even', 'odd')
        - sort_by(@unique_tlrs, :number).each do |tlr|
          %th.score.average
            = link_to '#', :class => 'pop-over', "data-toogle" => "tooltip" , "data-content" => tlr.name, "title" => "Detalle" do
              = tlr.number
        %th.score.average.student
    %tbody
      - @students.each do |student|
        %tr{:id => "student_#{student.id}"}
          = show_for student do |student_show|
            %td.name
              = student_show.attribute :name, :label => false do
                = image_tag("student1.png")
                = link_to student.full_name, edit_student_path(student), :alt => t(:edit), :title => t(:edit), :remote => true
          %td.aux{:id => "aux_#{student.id}"}
            %span.aux1= render :partial => 'profiles/student_points', :locals => {:profile => resource, :student => student}
            %span.aux2= render :partial => 'profiles/student_absences', :locals => {:profile => resource, :student => student}
            %span.aux3= render :partial => 'profiles/student_incidents', :locals => {:profile => resource, :student => student}
            %span.aux4= render :partial => 'profiles/student_observations', :locals => {:profile => resource, :student => student}
          - even_odd = reset_cycle('qe_cycle')
          - @qualifyingentities.each do |qe|
            - sort_by(qe.qualifyingentity_tlresults, :tlresult_number).each do |qe_tlr|
              - @score = qe_tlr.scores.find_by_student_id(student.id)
              %td.score{:id => @score.id, :class => "score qualifyingentity #{even_odd}"}
                = render 'scores/in_place_edit'
            - even_odd = cycle('even', 'odd')
          - sort_by(@unique_tlrs, :number).each do |tlr|
            %td{:class => "score average", :id => "average_score_#{student.id}_#{tlr.id}"}
              = average_for(student, tlr, @quarter.id)
          - @average_score = AverageScore.where(:student_id => student.id, :tlresult_id => nil, :quarter_id => @quarter.id).first
          %td{:class => "score average student", :id => "average_#{@average_score.id}"}
            = render 'average_scores/in_place_edit'

