%h1= t(:profiles)
- if can? :create, Classroom
  = link_to t(:new), new_resource_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= Profile.human_attribute_name(:institute)
      %th= Profile.human_attribute_name(:trainercycle)
      %th= Profile.human_attribute_name(:matter)
      %th= Profile.human_attribute_name(:group)
      %th= t(:actions)
  %tbody
    - collection.each do |item|
      %tr
        %td= item.institute.try(:name)
        %td= item.trainercycle.try(:title)
        %td= item.matter.try(:name)
        %td= item.group.try(:name)
        %td.actions.span3
          - if can? :edit, item
            = link_to t(:edit), edit_resource_path(item), :class => 'icon edit', :alt => t(:edit), :title => t(:edit)
            = link_to t(:qualifyingentities), profile_qualifyingentities_path(item), :class => 'icon task', :alt => t(:qualifyingentities), :title => t(:qualifyingentities)
            - unless item.tlresults.empty?
              = link_to t(:tlresults), edit_tlresults_profile_path(item), :class => 'icon tlresult', :alt => t(:tlresults), :title => t(:tlresults)
            - if item.classroom && !item.classroom.students.empty?
              = link_to t(:scores), edit_scores_profile_path(item), :class => 'icon score', :alt => t(:scores), :title => t(:scores)
          - if can? :destroy, item
            = link_to t(:destroy), resource_path(item), :data => {:confirm => t(:are_you_sure?)}, :method => :delete, :class => 'icon delete', :alt => t(:destroy), :title => t(:destroy)
          
= paginate collection
