.page-header
  %h1= Profile.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= Profile.human_attribute_name(:institute)
      %th= Profile.human_attribute_name(:trainercycle)
      %th= Profile.human_attribute_name(:matter)
      %th= t(:actions)
  %tbody
    - collection.each do |item|
      %tr
        %td= item.institute.try(:name)
        %td= item.trainercycle.try(:title)
        %td= item.matter.try(:name)
        %td.actions.span2
          - if can? :edit, item
            = link_to t(:edit), edit_resource_path(item), :class => 'ui-icon ui-icon-pencil', :alt => t(:edit), :title => t(:edit)
            = link_to t(:tlresults), edit_tlresults_profile_path(item), :class => 'ui-icon ui-icon-calculator', :alt => t(:tlresults), :title => t(:tlresults)
            - if item.classroom && item.classroom.students
              = link_to t(:scores), edit_scores_profile_path(item), :class => 'ui-icon ui-icon-contact', :alt => t(:scores), :title => t(:scores)
          - if can? :destroy, item
            = link_to t(:destroy), resource_path(item), :data => {:confirm => t(:are_you_sure?)}, :method => :delete, :class => 'ui-icon ui-icon-trash', :alt => t(:destroy), :title => t(:destroy)
    %tfoot
      %tr.actions
        %td{:colspan => 99}
          - if can? :create, Profile
            = link_to t(:new), new_resource_path, :class => 'btn btn-primary'
          = paginate collection
