- content_for :title, Profile.model_name.human
= show_for resource do |item|
  = item.attribute :name
  = item.association :institute
  = item.association :trainercycle
  = item.association :matter
  = item.attribute :created_at, :format => :short

- if can? :edit, resource
  = link_to t(:edit), edit_resource_path(resource), :class => 'btn'
- if can? :destroy, resource
  = link_to t(:destroy), resource_path(resource), :confirm => t(:are_you_sure?), :method => :delete, :class => 'btn btn-danger'
= link_to t(:back), collection_path(resource), :class => 'btn'
