%tr.nested-fields
  %td= f.input :name, label: false
  %td= f.input :firstsurname, label: false
  %td= f.input :secondsurname, label: false
  %td= f.input :dni, label: false,  :input_html => {:class => 'dni'}
  -# %td= f.input :dni, label: false, collection: Student.all.collect {|p| [ p.dni_name, p.id ] }, :input_html => {:class => 'chzn-select input-medium'}
  %td= f.input :phone, label: false
  %td= f.input :student_code, label: false
  %td= f.input :birthdate, label: false, :as => :string, :input_html => { :class => 'datepicker input-small'}
  %td= f.input :mail, label: false
  %td= f.input :record, label: false
  %td.actions
    - if f.object.id
      = link_to t(:edit), edit_student_path(f.object.id), :class => 'icon edit', :remote => true
    = link_to_remove_association t(:destroy), f, class: "icon delete"
