- content_for :title, Student.model_name.human.pluralize
- if can? :create, Student
  = link_to t(:new), new_resource_path, :class => 'btn btn-primary'
- if can? :manage, Student
  = link_to t(:all), students_path, :class => 'btn'
  = link_to t(:for_profile), profile_students_path(:profile_id => current_teacher.current_profile.id), :class => 'btn'
%button.btn{'data-toggle' => 'collapse', 'data-target' => '#accordion_import'}= t(:import_students)

%div.collapse{:id => 'accordion_import'}
  = link_to t(:example), 'alumnos_ejemplo.csv'
  = form_tag import_students_path, multipart: true do 
    %p= file_field_tag :file
    %p= text_area_tag :csv_data, nil, :rows => '6', :class => 'input-xxlarge', :placeholder => t(:students_import_hint)
    %p= submit_tag t(:import), :class => 'btn'

%table.table.table-striped
  %thead
    %tr
      %th
      %th= sort_link @q, :firstsurname, Student.human_attribute_name(:firstsurname)
      %th= sort_link @q, :secondsurname, Student.human_attribute_name(:secondsurname)
      %th= sort_link @q, :name, Student.human_attribute_name(:name)
      %th= sort_link @q, :dni, Student.human_attribute_name(:dni)
      %th= Classroom.model_name.human + " / " + Profile.model_name.human
      %th= t(:actions)
  %tbody
    - collection.each do |item|
      %tr
        %td= image_tag("student1.png")
        %td= item.try(:firstsurname)
        %td= item.try(:secondsurname)
        %td= item.try(:name)
        %td= item.try(:dni)
        %td
          %ul
            - item.classrooms.each do |classroom|
              %li= classroom_name_and_profile(classroom)
        %td.actions.span2
          - if can? :edit, item
            = link_to t(:edit), edit_resource_path(item), :class => 'icon edit', :alt => t(:edit), :title => t(:edit)
          - if can? :destroy, item
            = link_to t(:destroy), resource_path(item), :data => {:confirm => t(:are_you_sure?)}, :method => :delete, :class => 'icon delete', :alt => t(:destroy), :title => t(:destroy)
= paginate collection
