- content_for :title, Student.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th
      %th= sort_link @q, :firstsurname, Student.human_attribute_name(:firstsurname)
      %th= sort_link @q, :secondsurname, Student.human_attribute_name(:secondsurname)
      %th= sort_link @q, :name, Student.human_attribute_name(:name)
      %th= sort_link @q, :dni, Student.human_attribute_name(:dni)
      %th= Classroom.model_name + " / " + Profile.model_name.human.pluralize 
      %th= t(:actions)
  %tbody
    - collection.each do |item|
      %tr
        %td= image_tag("student1.png")
        %td= item.try(:firstsurname)
        %td= item.try(:secondsurname)
        %td= item.try(:name)
        %td= item.try(:dni)
        %td
          %ul
            - item.classrooms.each do |classroom|
              %li= classroom.name + " / " + classroom.profile.name
        %td.actions.span2
          - if can? :edit, item
            = link_to t(:edit), edit_resource_path(item), :class => 'icon edit', :alt => t(:edit), :title => t(:edit)
          - if can? :destroy, item
            = link_to t(:destroy), resource_path(item), :data => {:confirm => t(:are_you_sure?)}, :method => :delete, :class => 'icon delete', :alt => t(:destroy), :title => t(:destroy)
    %tfoot
      %tr.actions
        %td
          - if can? :create, Student
            = link_to t(:new), new_resource_path, :class => 'btn btn-primary'
        %td{:colspan => 7}
          = form_tag import_students_path, multipart: true do 
            = file_field_tag :file
            = submit_tag t(:import), :class => 'btn'
          = link_to t(:example), 'alumnos_ejemplo.csv'
          = paginate collection

