%h1= t(:wellcome, :user => current_teacher.full_name)
.menu_icon
  %h3= t(:profiles)
  = link_to image_tag("configuracion.png", :border => 0), {:action => 'index', :controller => 'profiles'}
.menu_icon
  %h3= t(:students)
  = link_to image_tag("student1.png", :border => 0), students_path()
.menu_icon
  %h3= t(:scores)
  = link_to image_tag("book.png", :border => 0), edit_scores_profile_path(current_teacher.current_profile) if current_teacher.current_profile
.menu_icon
  %h3= t(:tlresults_percentage)
  = link_to image_tag("estadistica.png", :border => 0), edit_tlresults_profile_path(current_teacher.current_profile) if current_teacher.current_profile 
.menu_icon
  %h3= t(:reports)
  = link_to image_tag("pdf.png", :border => 0), '#' 
