= simple_form_for [@profile, @student, resource], :html => { :class => 'form-horizontal' }, :remote => true do |f|
  = f.input :justified
  = f.input :absence_datetime, :as => :string, :input_html => { :class => 'datepicker', :value => (I18n.l(resource.absence_datetime, :format => :medium) if resource.absence_datetime) }
  = f.input :observations, :as => :text
  = f.input :profile_id, :as => :hidden, :input_html => {:value => @profile.id}
  = f.button :submit, :class => 'btn-primary'
  = link_to t(:cancel), profile_student_absencess_path(@profile, @student), :class => 'btn' unless request.xhr?
