.page-header
  %h1= Qualifyingentity.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= Qualifyingentity.human_attribute_name(:name)
      %th= Matter.model_name.human
      %th= Tlresult.model_name.human.pluralize
      %th= t(:actions)
    %tbody
    - collection.each do |item|
      = content_tag_for(:tr, item) do
        %td= item.try(:name)
        %td= item.profile.matter.try(:name)
        %td
          - item.tlresults.each do |rea|
            = rea.try(:name)
        %td
          - if can? :edit, item
            = link_to t(:edit), edit_resource_path(item), :class => 'ui-icon ui-icon-pencil'
          - if can? :destroy, item
            = link_to t(:destroy), resource_path(item), :data => {:confirm => t(:are_you_sure?)}, :method => :delete, :class => 'ui-icon ui-icon-trash'
- if can? :create, Qualifyingentity
  = link_to t(:new), new_resource_path, :class => 'btn btn-primary'
- if can? :read, Qualifyingentity
  = link_to t(:tlresults), asign_tlresult_profile_path(current_teacher.current_profile), :class => 'btn'
