- content_for :title, t(:welcome, :user => current_user.specialist.name)
.span2
  = link_to image_tag("menu/patient.png"), patients_path
  = link_to image_tag("menu/calendar.png"), events_path
  = link_to image_tag("menu/report.png"), invoiceheads_path
%fieldset.fieldset.span9
  %legend.legend=t(:next_events)
  %table.list.table-hover
    %thead
      %th= Event.human_attribute_name(:starts_at)
      %th= Patient.human_attribute_name(:name)
      %th= Patient.human_attribute_name(:mobilephone)
      %th= Event.human_attribute_name(:center)
    %tbody.items.events
      - current_user.specialist.next_events.each do |resource|
        = content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
          %td= l resource.try(:starts_at), :format => :short
          %td= resource.patient.try(:full_name)
          %td= resource.patient.try(:mobilephone)
          %td= resource.center.try(:name)
%fieldset.fieldset.span9
  %legend.legend=t(:attended_events_last_week)
  %table.list.table-hover
    %thead
      %th= Event.human_attribute_name(:starts_at)
      %th= Patient.human_attribute_name(:name)
      %th= Patient.human_attribute_name(:mobilephone)
      %th= Event.human_attribute_name(:center)
    %tbody.items.events
      - current_user.specialist.attended_events(Date.today-7, Time.now).each do |resource|
        = content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
          %td= l resource.try(:starts_at), :format => :short
          %td= resource.patient.try(:full_name)
          %td= resource.patient.try(:mobilephone)
          %td= resource.center.try(:name)
%fieldset.fieldset.span9
  %legend.legend
    = t(:monthlySummary)
    = l Date.today, :format => :month
  - resume = current_user.specialist.info_per_month
  - resume.each do |k,v|
    .span
      = t(k)
      = ": #{v}"

