%dl.profile_info
  %dt= Teacher.model_name.human+':'
  %dd= current_teacher.full_name
  %dt= Trainercycle.model_name.human+':'
  %dd= current_teacher.current_profile ? current_teacher.current_profile.trainercycle.try(:title) : t(:no_current_profile)
  %dt= Matter.model_name.human+':'
  %dd= current_teacher.current_profile ? current_teacher.current_profile.matter.try(:name) : '-'
