!!!
%html
  %head
    %title ForProf
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        - if teacher_signed_in?
          = render "layouts/head"
    .container-fluid
      //= render_breadcrumbs
      .row-fluid
        - if teacher_signed_in?
          .bs-docs-sidebar.menu_profiles.affix
            .blackboard
              = render "layouts/menu_profiles"
        - else
          .bs-docs-sidebar.menu_profiles.affix
            .blackboard
              = t(:welcome)
        .content
          .content-header
          .content-body
            -if notice
              %div.alert.alert-success= notice
            -if alert
              %div.alert.fade.in= alert
            %h1= yield :title
            = yield
  %footer
    = t(:version_x, :version => '0')



