!!! 
%html 
  %head
    %title ForProf
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body     
    .navbar.navbar-fixed-top
      .navbar-inner
        - if teacher_signed_in?
          = render "layouts/head"
    .container-fluid
      //= render_breadcrumbs
      .row-fluid
        .bs-docs-sidebar.profile.affix
          .blackboard
            - if teacher_signed_in?
              = render "layouts/profile"
            - else
              = t(:welcome)
        .content
          .content-header
          .content-body
            -if notice
              %div.alert.alert-success= notice
            -if alert
              %div.alert.fade.in= alert
            = yield
    #version= t(:version_x, :version => '0')



