!!! 
%html 
  %head
    %title ForProf
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body     
    .navbar.navbar-fixed-top
      .navbar-inner
        - if teacher_signed_in?
          = render "layouts/head"
    .container-fluid
      //= render_breadcrumbs
      .row-fluid
        .span3.bs-docs-sidebar
          - if teacher_signed_in?
            = render "layouts/profile"
        .span9
          -if notice
            %div.flash.notice= notice
          -if alert
            %div.flash.alert= alert
          %h2
            = yield :title
          = yield
    #version= t(:version_x, :version => '0')



