!!!
%html
  %head
    %title ForProf
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        - if teacher_signed_in?
          = render "layouts/head"
    .container-fluid
      //= render_breadcrumbs
      .row-fluid
        - if teacher_signed_in?
          .bs-docs-sidebar.menu_profiles.affix
            .blackboard
              = render "layouts/menu_profiles"
        - else
          .bs-docs-sidebar.menu_profiles.affix
            .blackboard
              %h1= t(:noticia_titulo)
              = t(:noticia)
        .content
          .content-header
          .content-body
            - if notice
              %div.alert.alert-success= notice
            - if alert
              %div.alert.fade.in= alert
            - if current_teacher
              = render "layouts/profile_info"
            %h1= yield :title
            = yield
  %footer
    %div.centro
      = link_to image_tag('youtube.png', :border => 0), "http://www.youtube.com/channel/UC_vT0VPwUcbUYJo4ILMekfA"
      = link_to image_tag('youtube_rojo.png', :border => 0), "http://www.youtube.com/channel/UCzkHxkjknyGKbKFn_PilW4w"
      = render "layouts/paypal"
    %div.derecha
      = link_to image_tag('teidalia.png', :border => 0), "http://www.teidalia.com/"
    %div.izquierda
      = t(:version_x)
      = t(:company)
      %br= link_to t(:web), "http://www.teidalia.com/"

