!!! 
%html 
  %head
    %title ForProf
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body     
    .navbar.navbar-fixed-top
      .navbar-inner
        - if teacher_signed_in?
          = render "layouts/head"
    .container-fluid
      //= render_breadcrumbs
      .row-fluid
        .bs-docs-sidebar.menu_profiles.affix
          .blackboard
            - if teacher_signed_in? && current_page?(root_path) 
              = render "layouts/menu_profiles"
            - else
              - if teacher_signed_in? && !current_page?(root_path)
                = render "layouts/menu_profiles"
              - else
                = t(:welcome)
        .content
          .content-header
          .content-body
            -if notice
              %div.alert.alert-success= notice
            -if alert
              %div.alert.fade.in= alert
            %h1= yield :title
            = yield
    #version= t(:version_x, :version => '0')



